@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    min-height: 100vh;
    color: var(--text-color-primary);
    font: var(--font-md);
    background-color: var(--bg-color-primary);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 1rem;
}
