@import "reset";
@import "variables/palette";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
    min-height: 100vh;
    color: var(--color-text-primary);
    font: var(--font-md);
    background-color: var(--color-bg-primary);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 1rem;
}
