.app.dark {
  --bg-color-primary: #282040;
  --bg-color-secondary: #1b1821;
  --text-color-primary: #f7f3fc;
  --text-color-secondary: #b8b2c1;
  --border-color: #2f2937;
  --accent-color: #8b6aff;
  --accent-color-hover: #7a58e6;
}