.app.light {
  --bg-color-primary: #d1bdff;
  --bg-color-secondary: #e6dbff;
  --text-color-primary: #141228;
  --text-color-secondary: #362b54;
  --border-color: #9f92bb;
  --accent-color: #6a4dff;
  --accent-color-hover: #5a3ee0;
}
