.Navbar {
  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  background-color: var(--inverted-bg-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.list {
  display: flex;
  gap: 1rem;
}
