.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: var(--navbar-height);
    margin-left: auto;
    padding: 20px;
    background-color: var(--inverted-bg-color-primary);
}

.list {
    display: flex;
    gap: 1rem;
}
