.Button {
    color: var(--inverted-text-color-secondary);
    cursor: pointer;
}

.clear {
    color: var(--text-color-primary);
    background: none;
    border: none;
    outline: none;
}

.outlined {
    padding: 0.5rem 1rem;
    color: var(--text-color-primary);
    background-color: transparent;
    border: 1px solid var(--border-color);
}
