.Button {
  cursor: pointer;
}

.clear {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  //color: inherit;
  //font: inherit;
  //text-decoration: none;
  //display: inline;
}