:root {
  --font-family-main: Consolas, 'Times New Roman', serif;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --line-height-md: 1.5;
  --font-md: var(--font-size-md) / var(--line-height-md) var(--font-family-main);
  --font-lg: var(--font-size-lg) / var(--line-height-md) var(--font-family-main);
}