:root {
    /* Purple */

    --color-purple-100: #e6dbff;
    --color-purple-200: #d1bdff;
    --color-purple-300: #7a58e6;
    --color-purple-400: #8b6aff;
    --color-purple-500: #6a4dff;
    --color-purple-700: #4c33c2;

    /* Grey */

    --color-grey-500: #6c757d;

    /* Neutral */

    --color-neutral-100: #f7f3fc;
    --color-neutral-300: #b8b2c1;
    --color-neutral-500: #9f92bb;
    --color-neutral-700: #2f2937;
    --color-neutral-800: #282040;
    --color-neutral-900: #1b1821;

    /* Text */
    --color-neutral-950: #141228;

    /* Status */

    --color-success: #198754;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #0dcaf0;

    /* Base */

    --color-white: #fff;
    --color-black: #000;
    --color-transparent: transparent;
}
