.app.dark {
  --bg-color-primary: #282040;
  --bg-color-secondary: #1b1821;
  --text-color-primary: #f7f3fc;
  --text-color-secondary: #b8b2c1;

  --inverted-bg-color-primary: #d1bdff;
  --inverted-bg-color-secondary: #e6dbff;
  --inverted-text-color-primary: #141228;
  --inverted-text-color-secondary: #282040;

  --border-color: #2f2937;
  --accent-color: #8b6aff;
  --accent-color-hover: #7a58e6;
}