:root[data-theme="dark"] {
    /* =========================
     BACKGROUND SYSTEM
     ========================= */

    --color-bg-primary: var(--color-purple-400);
    --color-bg-secondary: var(--color-neutral-800);

    /* =========================
     SURFACE
     ========================= */

    --color-surface: var(--color-neutral-800);

    /* =========================
     TEXT SYSTEM
     ========================= */

    --color-text-primary: var(--color-neutral-100);
    --color-text-secondary: var(--color-neutral-300);

    /* =========================
     BORDER
     ========================= */

    --color-border: var(--color-neutral-500);

    /* =========================
     BRAND
     ========================= */

    --color-primary: var(--color-purple-700);
    --color-primary-hover: var(--color-purple-300);
    --color-secondary: var(--color-purple-100);
}
