[data-theme="light"] {
    /* =========================
     BACKGROUND SYSTEM
     ========================= */

    --color-bg-primary: var(--color-purple-100);
    --color-bg-secondary: var(--color-purple-200);

    /* =========================
     SURFACE (cards, modals, etc.)
     ========================= */

    --color-surface: var(--color-white);

    /* =========================
     TEXT SYSTEM
     ========================= */

    --color-text-primary: var(--color-neutral-950);
    --color-text-secondary: var(--color-neutral-800);

    /* =========================
     BORDER
     ========================= */

    --color-border: var(--color-border-800);

    /* =========================
     BRAND (primary UI actions)
     ========================= */

    --color-primary: var(--color-purple-500);
    --color-primary-hover: var(--color-purple-700);
    --color-secondary: var(--color-neutral-950);
}
