.app.light {
  --bg-color-primary: #d1bdff;
  --bg-color-secondary: #e6dbff;
  --text-color-primary: #141228;
  --text-color-secondary: #282040;

  --inverted-bg-color-primary: #282040;
  --inverted-bg-color-secondary: #1b1821;
  --inverted-text-color-primary: #d1bdff;
  --inverted-text-color-secondary: #e6dbff;

  --border-color: #9f92bb;
  --accent-color: #6a4dff;
  --accent-color-hover: #5a3ee0;
}
